#equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--azulEscuro);
    padding: 0 10vw;
}

#equipe .tituloEquipe {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

#equipe .wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

#equipe .membro {
    padding: 20px;
    width: 30vw;
    display: flex;
    flex-direction: column;

}

#equipe .linkedin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 2px var(--azulEscuro);
}

#equipe .linkedin i {
    color: var(--azulEscuro);
    padding-left: 20px;
}

#equipe .linkedin .nome {
    font-size: 20px;
    font-weight: 600;
}

#equipe .infos {
    display: flex;
    justify-content: space-between;
}

#equipe .cargos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid var(--azulEscuro);
    padding-top: 20px;
}

#equipe .foto-membro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#equipe .foto-membro img {
    width: 150px;
    border: 2px solid var(--azulEscuro);
}

#equipe .empresa {
    padding-right: 10px;
}

@media (max-width: 768px) {
    #equipe .comFoto{
        flex-direction: column;
        align-items: center;
    }

    #equipe .comFoto .membro{
        align-items: center;
    }

    #equipe .comFoto .linkedin {
        padding-top: 10px;
        width: 250px;
    }

    #equipe .comFoto .infos {
        width: 250px;
    }

    #equipe .comFoto .infos .periodo{
        display: flex;
        flex-wrap: nowrap;
    }
    

}

@media (max-width: 600px) {
    #equipe .wrap{
        flex-direction: column;
        align-items: center;
    }

    #equipe .membro{
        align-items: center;
    }

    #equipe .linkedin {
        padding-top: 10px;
        width: 250px;
    }

    #equipe .infos {
        width: 250px;
    }

    #equipe .infos .periodo{
        display: flex;
        flex-wrap: nowrap;
    }
}