/* Título */
/* Serviços */
#contato {
    width: 100%;
    height: fit-content;
    background-color: var(--azulJeans);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--corClara);
    overflow: hidden;

    margin-top: 3rem;
}
#contato .container{
    max-width: min(var(--larguraMaxima), 90vw);
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
}
#contato .container .titulo{
    padding: 2rem 0;
}
#contato .container .titulo h2{
    font-size: 2rem;
    color: var(--amareloClaro);
    line-height: 1;
    padding: 1rem;
    border-left: var(--amareloEscuro) 3px solid;
}

#contato .container .titulo h3{
    font-size: 1.75rem;
    color: var(--amareloClaro);
    line-height: 1;
    padding: 1rem 0;
}
#contato .container .titulo h2 span{
    font-size: 3rem;
    color: var(--corClara);
}
#contato .container .titulo p{
    font-size: 1.2rem;
    color: var(--corClara);
    line-height: 1;
    padding-top: 1rem;
}
#contato .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0 0 0;
    gap: 4rem;
    height: fit-content;
}

#contato .info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    min-height: 12rem;
}

#contato .mensagem-lateral{
    max-width: 500px;
    width: 100%;
    height: 650px;
    overflow-wrap: break-word;
}
#contato .mensagem-lateral h1{
    overflow-wrap: break-word;
}

#contato .svg-processo {
    height:600px;
    width: 600px;
    background: url(/Contato_cejur.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: 140%;
    background-position-x: 35%;
    margin: 0;
    padding: 0;
}

    @media screen and (max-width: 600px) {
        #contato .svg-processo{
            height: 90vw;
            width: 90vw;
            margin-left: 8vw;
            margin-right: 2vw;
        }

        #contato .mensagem-lateral{
            max-width: 500px;
            width: 100%;
            height: fit-content;
            overflow-wrap: break-word;
        }
      }

  