

.card-estatisticas{
    /* transform: translateY(70%);
    transition: all 500ms 500ms ease; */

    width: 60%;
    border-radius: 10px;

    display: inline-flex;
    align-items: first baseline;
    justify-content: center;
    font-weight: 500;
    color: var(--corFundos)
}

.projetos{
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.empresas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 0 10px;
}



.historia{
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.numeros{
    font-size: 2rem;
    font-weight: 700;
    color: var(--azulMarinho)
}

.textinho {
    font-size: 0.8rem;
}

.textao{
    padding-bottom: 20px;
}