
/* Social */
.social{
    margin-left: 0rem;
    text-overflow: clip;
    white-space: nowrap;
}
.social a{
    padding: 1rem;
    color: var(--azulEscuro);
    border-bottom: transparent 2px solid;
    transition: border 0.6s ease-in-out;
}
.social a:hover,
.social a:focus-within{
    border-bottom: var(--amareloClaro) 2px solid;
}

/* Navbar */

#main-nav{
    background: var(--corClara);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position:sticky;
}    
#main-nav .container{
    max-width: var(--larguraMaxima);
    margin: auto;
    padding: 0 0rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 3rem;
}    
#main-nav ul{
    display: flex;
}    


#main-nav ul li a,
#main-nav div a{
    padding: 0vh 1.2rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--azulEscuro);
    transition: border 0.6s ease-in-out;
    border-bottom: transparent 2px solid;
}    

#main-nav div i{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--azulEscuro);
    transition: border 0.6s ease-in-out;
    border-bottom: transparent 2px solid;
}

#main-nav ul li .nav-link:hover,
#main-nav ul li .nav-link:focus-within,
#main-nav div .nav-link:hover,
#main-nav div .nav-link:focus-within,
#main-nav .nav-icon:hover,
#main-nav .nav-icon:focus-within {
    border-bottom: var(--amareloClaro) 2px solid;
    transition: border 0.6s ease-in-out;
}

#main-nav .navbar-brand{
    width: 200px; 
}

.navbar-brand img {
    width: 80%;
    padding: 10px;
}

#main-nav .navbar-nav{
    position: absolute;
    right: 4rem;
    top: 1.5rem;
}