/* CSS ESPECIFICO */
/* #Sobre .quadro-areas {
    background-image: url(/svg/fundotextura.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    --padding: 2rem;
    padding: var(--padding) 0;
    height: fit-content;
    /* transform: translateY(70%);
    transition: all 500ms 500ms ease; */
/*
    width: auto;

    margin: 1rem;

    border-radius: 10px;
    border-collapse: separate;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 500;
    color: var(--corClara);
}

#Sobre .seletor-diretorias {
    color: var(--azulEscuro);
    font-size: 2.5rem;
    font-weight: 600;

    margin: 1rem;

    background-color: var(--corClara);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Sobre .seletor-diretorias:hover{
    box-shadow: 5rem;
    text-shadow: 1px 1px 80px var(--corFundos);
}

#Sobre .seletor-diretorias .dados {
    padding: 5px 20px;

    text-align: center;
}

#Sobre .seletor-diretorias .consult {
    text-align: center;

    padding: 5px 20px;
}

#Sobre .seletor-diretorias .comp {
    padding: 5px 20px;

    text-align: center;
}

#Sobre .seletor-diretorias .ativo{

    background-color: var(--amareloEscuro);
    color: var(--azulEscuro);
    border-radius: 0.5rem;

}

#Sobre .seletor-diretorias .ativo:hover{
    background-color: var(--amareloClaro);
    color: var(--azulEscuro);
    border-radius: 0.5rem;
}
*/


/* CSS Padrão */

/*
#Sobre .container {
    max-width: min(var(--larguraMaxima), 90vw);
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 2rem;
}
#Sobre .container .titulo {
    padding-top: 1rem;
}
#Sobre .container .titulo h2 {
    font-size: 2rem;
    color: var(--azulClaro);
    line-height: 1;
    padding: 1rem;
    border-left: var(--amareloEscuro) 3px solid;
}
#Sobre .container .titulo h2 span {
    font-size: 3rem;
    color: var(--azulEscuro);
}
#Sobre .container .titulo p {
    font-size: 1.2;
    color: var(--azulEscuro);
    line-height: 1;
    padding: 1rem;
}
#Sobre .container .bloco {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
#Sobre .container .bloco .cards {
    color: var(--corClara);
    display: flex;
    margin: 1rem auto;
    max-width: 200px;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;
    transition: transform 500ms ease;
}
#Sobre .cards:hover,
#Sobre .cards:focus-within {
    transform: scale(1.05);
}
#Sobre .cards:nth-child(1) {
    background-image: url(/svg/capacidade.svg);
}
#Sobre .cards:nth-child(2) {
    background-image: url(/svg/tradicao.svg);
}
#Sobre .cards:nth-child(3) {
    background-image: url(/svg/exclusividade.svg);
}
#Sobre .cards:nth-child(4) {
    background-image: url(/svg/eficiencia.svg);
}
#Sobre .card-content {
    --padding: 1rem;
    padding: var(--padding);
    height: fit-content;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.3) 20%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(70%);
    transition: all 500ms 500ms ease;
}
#Sobre .card-content > *:not(h3) {
    opacity: 0;
}
#Sobre .cards:hover .card-content,
#Sobre .cards:focus-within .card-content {
    transform: translateY(0);
}
#Sobre .cards:hover .card-content > *:not(h3),
#Sobre .cards:focus-within .card-content > *:not(h3) {
    opacity: 1;
}
#Sobre .container .bloco p {
    font-size: 0.8rem;
    padding: 0.4rem 0;
}
#Sobre .card-titulo {
    width: max-content;
    font-size: 1.2rem;
    position: relative;
}
#Sobre .card-titulo::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 3px;
    width: calc(110% + var(--padding));
    background: var(--amareloClaro);
    transform: scale(0);
    transform-origin: left;
    transition: all 500ms ease;
}
#Sobre .cards:hover .card-titulo::after,
#Sobre .cards:focus-within .card-titulo::after {
    transform: scale(1);
}
#Sobre .btn-mais {
    font-size: 0.75rem;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--corClara);
    background: var(--azulEscuro);
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
}
#Sobre .btn-mais:hover,
#Sobre .btn-mais:focus-within {
    color: var(--corFundos);
    background: var(--amareloEscuro);
    transition: all ease-in-out 0.3s;
}
*/