/* Footer */

#footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--azulEscuro);
    color: var(--corClara);
}