/* Footer */

#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: var(--azulEscuro);
    color: var(--corClara);
    padding: 20px;
}