/*NOVO*/
#resultados .container .subtitulo h2{
    font-size: 1rem;
    color: var(--azulEscuro);
    line-height: 0.2;
    padding: 1rem;
    border-left: var(--azulClaro) 3px solid;

}


#resultados .subtitulo-e-numeros{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 3rem 0 3rem 0;
}


#resultados .subtitulo-metade{
    width: 400px;
    font-size: 1.1rem;
    color: var(--azulEscuro);
    line-height: 1;

    margin: 0;
}

/*responsividade */

@media (max-width: 1200px) {
   #resultados .subtitulo-metade{
    text-align: center;
    width: 80%;
    margin-bottom: 2rem;
   }
}





/* Nossos Diferenciais */
#resultados {

    background-size: 40%;
    background-position: 120% 35%;
    background-repeat: no-repeat;
    background-image: url(/LogoSimplesVazada.svg);
}

#resultados .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: min(var(--larguraMaxima), 90vw);
    height: fit-content;
    margin: 0 auto;
    overflow: visible;
    padding-bottom: 2rem;

}
#resultados .container .titulo{
    padding-top: 1rem;
}
#resultados .container .titulo h2{
    font-size: 2.5rem;

    color: var(--azulJeans);
    line-height: 1;
    padding: 1rem;
    border-left: var(--corFundos) 3px solid;
}
#resultados .container .titulo h2 span{
    color: var(--azulMarinho);
    border-bottom: var(--amareloClaro) 3px solid;
    font-size: 3rem;
}

#resultados .btn-mais {
    color: var(--corClara);
    display: block;
    width: 100%;
    height: 100%;
}
#resultados #Link:hover,
#resultados .btn-mais:hover {
    color: var(--corFundos);
}

#resultados .btn-mais{
    font-size: 1.5rem;
    font-weight: 700;
    width: fit-content;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--corClara);
    background: var(--azulEscuro);
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.5rem;
}

#resultados .btn-mais:hover{
    color: var(--corFundos);
    background: var(--amareloClaro);
    transition: all ease-in-out 0.3s;
}

#resultados .mosaico {

    background-image: url(/Apoio_Mosaico.svg);
    background-repeat: repeat-y;
    background-size: 15vw;
    background-position: -50% -50%;
    width: 15vw;
    height: 1390px;

    opacity: 85%;

    position: absolute;
    left: 2rem;
    top: 1600px;
}

@media (max-width: 1900px) {
    #resultados .mosaico {
        display: hidden;
        background: none;
    }
}



/* Nossos Clientes */
#resultados .container .clientes{
    height: 10rem;
}

#resultados .imagemCarrossel{
    width: 20%;
}

#resultados .casesbtn{
    margin-top: 5rem;
}