


#newsletters-page .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--cinzaClaro);
    background-color: var(--azulJeans);
    padding: 1rem;
    height: 20vh;
    background-size: 40%;
    background-position: 120% 35%;
    background-image: url(/LogoSimplesVazada.svg);
}

#newsletters-page .newsletters-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 496px){
    #newsletters-page .titulo{
        padding: 80px 1rem;
        text-align: center;
    }
}